body{
font-family: Arial;
background-image:url("https://images.unsplash.com/photo-1566073771259-6a8506099945");
background-size:cover;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:white;
padding:40px;
width:300px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
text-align:center;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:100%;
padding:10px;
background:black;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#ff385c;
}

#msg{
color:red;
margin-top:10px;
}